#Title{
    color: paleturquoise;
    padding-top: 20px;
    font-family: monospace;
}

body{
    margin: 10px auto;
    background-color: darkslategray;
}

h1{
    background-color: darkgreen;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    color: papayawhip;
}


nav ul{
    list-style-type: none;
    background: none;
    position: fixed; 
    margin: 0px;
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: monospace;
    color: aliceblue;
    text-decoration: none;
}

nav ul li{
    display: inline;
}

a.nav-link{
    background-color:darkcyan;
    color: papayawhip;
    text-decoration: none;
    padding: 5px;
}

a.nav-link:hover{
    background-color: darkcyan;
    color: darkslategray;
    background: silver;
    padding: 5px;
}

.content{
    max-width: fit-content;
    margin: 80px auto;
    text-align: center;
    font-family: monospace;
    color :paleturquoise;
    padding: 20px;
}
